@use '../../../styles/partials/variables' as *;

// .header {
//   width: 72%;
//   height: 7rem;

//   &__nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     width: 100%;
//     height: 100%;
//     border-bottom: 3px solid $red;
//     border-right: 3px solid $red;
//     box-shadow: 1px 1px 2px $red;
//     border-radius: 0 0 2rem 0;

//     background-color: $timberwolf;
//     background: repeating-linear-gradient(
//         to bottom,
//         transparent 0%,
//         $timberwolf 1px,
//         $timberwolf 6px,
//         $timberwolf 16px,
//         transparent 0.5%
//       ),
//       repeating-linear-gradient(to left, white, white 60%);
//   }

//   &__nav-button {
//     padding: 1rem;
//     text-shadow: 1px 1px 2px $red;
//     font-weight: 700;
//     font-size: 3rem;
//     border: 1.5px solid transparent;
//     background-color: transparent;
//   }

//   &__nav-button:hover {
//     border: 1.5px solid $red;
//     border-radius: 1.5rem 0 1.5rem 0;
//     box-shadow: 1px 1px 2px $orange;

//     background-color: rgba($color: $red, $alpha: 0.4);
//   }
// }

.header {
  width: 72%;
  height: 7rem;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $red;
    border-right: 3px solid $red;
    box-shadow: 1px 1px 2px $red;
    border-radius: 0 0 2rem 0;
    background-color: $timberwolf;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        $timberwolf 1px,
        $timberwolf 6px,
        $timberwolf 16px,
        transparent 0.5%
      ),
      repeating-linear-gradient(to left, white, white 60%);

    &-button {
      padding: 1rem;
      text-shadow: 1px 1px 2px $red;
      font-weight: 700;
      font-size: 3rem;
      border: 1.5px solid transparent;
      background-color: transparent;
      transition: background-color 0.1s linear;

      &.active {
        border: 1.5px solid $red;
        border-radius: 1.5rem 0 1.5rem 0;
        box-shadow: 1px 1px 2px $red;
        background-color: rgba($color: $red, $alpha: 0.4);
      }
    }
  }
}
