.item {
  padding: 1rem;
  margin: 1rem;
  position: relative;
  width: 200px;
  height: 150px;
  border: 2px solid black;
  border-radius: 20px;

  &__price {
    position: absolute;
    bottom: -30px;
    left: 158px;
    transform: translateX(-50%);
    width: 80px;
    height: 30px;
    border: 2px solid black;
    border-top: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      top: -26px;
      right: -2px; // Adjust this to elongate the border more or less
      width: 20px;
      height: 100%;
      border-right: 2px solid black;
    }
  }
}
